*{
    margin: 0;
    padding: 0;
}
section{
    padding: 80px 8%;
}
nav{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 18px 8%;
    
}
nav div img{
    margin-top: 10px;
}
 ul{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 15px;
}
a{
    text-decoration: none;
    color: #575757;
}
.nav-button{
    height: 40px;
    width: 150%;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #1D4ED8;
    color: #FFFFFF;
    border: none;
    font-size: 12;
    font-weight: bold;
    
}
.hero-parent-container{
    background-image: 
    linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./assets/banner.jpg);
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
    justify-content: center;
}
.hero-parent-root{
    color: #FFFFFF;
    text-align: center;
    display: grid;
    gap: 16px;
}
.hero-parent-root h1{
    font-size: 80px;
}
.hero-parent-root p{
    font-size: 22px;
}
.hero-button {
    height: 50px;
    width: 190px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #1D4ED8;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
.button-container{
    display: grid;
    justify-content: center;
}

    
.card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-top: 50px;

}
.card-container .card{
    background-color:#E5E7EB;
    border-radius: 12px;
}

.card img{
    width: 100%;
    margin-bottom: 24px;
}


.top-text{
    text-align: center;
    font-size: 46px;
    font-weight: bold;
}
.card small,p,h3{
    margin: 8px 0;
    margin-left: 24px;
    
}
.card p{
    margin-bottom: 24px;
}
.card small{
    color: #2563EB;
}



